body{
    background-color:
    rgb(187, 182, 182);
    margin:5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: xx-large; 
    font-weight: 1200;
    text-align: center;
}
h2{
    text-align: center;
}
#h3-1{
    text-align: center;
}
#p-1{
    text-align: justify;
}
img{
    height: 200px; 
    width: 200px;
}
#p-2{
    text-align: center; 
    background-color: gray;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  span{
      font-weight: bold;
  }
  #h3-2{
    text-align: left;
}
#nuoroda{
    text-align: center;
    font-size: small;
}